<div class="container">
    <h2>Atelier3: Template-driven-form</h2>
    <fieldset class="form-group">
        <legend> <i>Informations générales</i></legend>

    <form #form="ngForm">
        <br>
        <div class="form-group">
    <label>Nom</label>
    <input #name="ngModel" [(ngModel)]="user.nom" required name="nom" class="form-control" type="text">        </div>
    <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
        <p *ngIf="name.errors?.['required']">nom est obligatoire</p>
    </div>
    <br>

        <div class="form-group">
            <label>Email</label>
            <input #email="ngModel" [(ngModel)]="user.email" pattern="[a-zA-Z.]+[a-zA-Z]+@[a-zA-Z]+\.[a-zA-Z]{2,3}" required name="email" class="form-control" type="email"> </div>
            <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                <p *ngIf="email.errors?.['required']">Email est obligatoire</p>
                <p *ngIf="email.errors?.['pattern']">Email invalid veuillez ressayer <br>example : imen.gassoumi@esprit.tn</p>      
              </div>
        <br>
        <fieldset class="form-group">

        <legend><i>Informations de payement</i></legend>

        <div class="form-group">
            <label>Type de carte</label>
            <input #typeCarte="ngModel" [(ngModel)]="user.typeCarte" required name="typeCarte" class="form-control" type="text">
            <p *ngIf="typeCarte.errors?.['required']">type carte est obligatoire</p>
        </div>
        <br>

        <div class="form-group">
            <label>Numéro carte</label>
            <input #numeroCarte="ngModel" [(ngModel)]="user.numeroCarte"  minlength="16" maxlength="16" required name="numeroCarte" class="form-control" type="text">
            <p *ngIf="numeroCarte.errors?.['required']">numeroCarte est obligatoire</p>

        </div>
        <br>

        <div class="form-group">
            <label>Date expiration</label>
            <input #dateExpiration="ngModel" [(ngModel)]="user.dateExpiration" required name="dateExpiration" type="date"  class="form-control" type="text">
            <p *ngIf="dateExpiration.errors?.['required']">date d'expiration est obligatoire</p>

        </div>
        <br>
        <label [hidden]="typeCarte.invalid || dateExpiration.invalid || numeroCarte.invalid">Code</label> 
            <input #code="ngModel" [hidden]="typeCarte.invalid || dateExpiration.invalid || numeroCarte.invalid" [(ngModel)]="user.code" class="form-control" name="code" type="text">

            <br>
        
    </fieldset>
    <button [disabled]="form.invalid">Ajouter</button>

</form>
    
</fieldset>

</div>
